.dropbtn {
    margin-top: 30px;
    background-color: white;
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content div{
    width: 250px;
  }
  
  .dropdown-content {
    width: auto;
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: flex;}
  .dropdown:hover .dropbtn {background-color: #cad0ce;}

.dropdown-content h2{
    padding: 10px;
    padding-left: 20px;
    color: #ff3f6c;
}
form{
    width: 50%;
    margin: auto;
}



body{
    width: 90%;
    margin: auto;
}
.left img{
    width: 120px;
    margin-top: 18px;
   
}
.dropdown-content img{
    width: auto;
    height: 500px;
  }


*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: rgb(59, 57, 57);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    padding: 0px 120px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    top: 0;
    background-color: white;
}
.flex{
    display: flex;
    gap: 20px;
}
ion-icon {
    font-size: 28px;
  }
body{
    width: 90%;
    margin: auto;
    
}
.left img{
    width: 120px;
    margin-top: 18px;
   
   
}
.bold div:nth-child(2) img{
    width: 48px;
    margin-left: 0;
    padding: 0;
}

#icons img{
    margin: 10px;
    margin-left: 0;
    padding: 0;
}
.right img{
    width: 60px;
}
.space{
    justify-content: space-between;
}

#formin{
    margin-top: 0px;
    background-color: white;
    padding: 15px;
    padding-top: 0px;
    width: 60%;
    margin-left: 0px;
    padding-left: 40px;
    height: 500px;
   
}
.bold{
    font-weight: bold;
    font-size: 35px;
    color: rgb(59, 57, 57);
    padding: 6px 15px;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #fdeeec;
}
#formin span{
    color: #ff3f6c;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    margin-top: 10px;
}
#formin p{
    font-size: 20px;
  color: gray;
  margin-top: 10px;
}

#formin button{
    width: 500px;
    height: 50px;
    margin: 10px;
    color: white;
    background-color: #ff3f6c;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 40px;
    margin-bottom: 30px;
}
#formin input{
    border: none;
    margin-bottom: 20px;
    font-size: 25px;
    width: 500px;
    height: 50px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#logorsign{
    display: flex;
}
#logorsign h1{
    margin-top: 23px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logorsign p{
    font-size: 25px;
  
    margin: 15px;
    margin-top: 20px;
}
#coupnimg{
    margin-bottom: 0px;
    margin-top: 30px;
    width: 605px;
}

.right input{
    border: 0.5px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 700px;
    background-color: #f8f8f8;
    height: 50px;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-left: 15px;
  border-radius: 5px;
  
}
nav ul li{
    list-style: none;
}
.topsection>img{
    width: 100%;
    margin: auto;
}
#formimg {
    width: 50%;
   margin: 0px;
    
}
@media only screen and (min-width: 500px) and (max-width:1800px) {
    #none {
        display: none;
    }
    .playstoreimg{
   
  display: flex;
  flex-direction: column;
}
#icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

    footer div {
        width: 80%;
    }
    #span{
  
    width: 20%;
    margin-left: 20%;
}
#span>div{
   
    width: 100%;
  
}
#footlength{
    margin-right: 60px;
 /* border: 1px red;
 color: blue; */
  
}
.right input{
    border: 0.5px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 350px;
   
}
#formin{
  
    width: 100%;

   
}
#none{
    display: none;
}

}